
.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    font-size: 20px;
    background-color: #ffffff;
    transition: 0.3s;
}


.icon.icon-call {
    mask-image: url('../img/call.svg');
    -webkit-mask-image: url('../img/call.svg');
}
.icon.icon-star {
    mask-image: url('../img/star.svg');
    -webkit-mask-image: url('../img/star.svg');
}
.icon.icon-time {
    mask-image: url('../img/time.svg');
    -webkit-mask-image: url('../img/time.svg');
}

.icon.icon-location {
    mask-image: url('../img/location.svg');
    -webkit-mask-image: url('../img/location.svg');
}
